.text {
  display: inline;
  font-family: "A", "arial", sans-serif;
  color: #000;
}
@media (prefers-color-scheme: dark) {
  .text {
    color: #fff;
  }
}

.header {
  composes: text;
  font-size: 2rem;
}

.title {
  composes: text;
  font-size: 3rem;
  margin: 0.5rem 0;
}

.body {
  composes: text;
  font-size: 1.2rem;
  margin: 0.2rem 0;
}

.link {
  composes: text;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 0 0.1rem;
  background-repeat: repeat-x;
  background-size: auto 0.3rem;
  background-position-x: 0;
  background-position-y: calc(100%);
  padding-bottom: 2px;
  border-bottom: solid 2px #000;
  box-sizing: border-box;
}
.link:hover {
  background-image: url("/underline-light.svg");
  border-bottom-color: #fff;
  padding-bottom: 4px;
}
@media (prefers-color-scheme: dark) {
  .link {
    color: #fff;
    border-bottom-color: #fff;
  }
  .link:hover {
    background-image: url("/underline-dark.svg");
    border-bottom-color: #000;
  }
}
