.page {
  padding: 2rem var(--var-page-padding-horz) 5rem;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
@media (prefers-color-scheme: dark) {
  .page {
    background: #000;
  }
}
.paddedPage {
  padding: 3rem;
}

.page-enter {
  opacity: 0;
  transform: translateX(20%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-20%);
  transition: opacity 300ms, transform 300ms;
}
