.page {
  padding: var(--var-page-padding-top) var(--var-page-padding-horz) 5rem;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
@media (prefers-color-scheme: dark) {
  .page {
    background: #000;
  }
}
.page pre {
  background-color: rgb(40, 41, 54);
  font-family: "AMono";
  position: relative;
}
.page pre:after {
  z-index: 1;
  background: linear-gradient(90deg, rgba(40, 41, 54, 0) 80%, rgb(51, 53, 68) 95%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  pointer-events: none;
}
@media (min-width: 480px) {
  .page pre:after {
    content: none;
  }
}
.page pre code {
  margin: 1rem;
  margin-right: 2rem;
  overflow-y: visible;
  overflow-x: auto;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}
.paddedPage {
  padding: 3rem;
}

.page-enter {
  opacity: 0;
  transform: translateX(20%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-20%);
  transition: opacity 300ms, transform 300ms;
}

.card {
  padding: 5px;
  /* border: 2px solid red; */
}

.cardImage {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  border-radius: 50%;
}
