:root {
  /* Defines the gutters on the side of the page. */
  --var-page-padding-horz: 3rem;

  /* Defines the padding above page content. */
  --var-page-padding-top: 3rem;
}

.container {
  position: relative;
  height: 100%;
}

.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #fff;
}
@media (prefers-color-scheme: dark) {
  .App {
    background: #000;
  }
}
